body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  min-height: 100vh;
  overflow: hidden;
  font-size: 14px;
  background-color: #292929;
  color: black;
  font-family: sans-serif;
}

main {
  flex: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

a {
  color: inherit;
}

.desktopTop {
  color: rgb(228, 228, 228);
  width: 100%;
  height: 243px;
  top: 0;
  text-align: center;
}

.desktopTop h1 {
  font-family: "Roboto Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #d5d5d5;
  margin-top: 40px;
}

.desktopTop p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #d5d5d5;
  font-size: 15px;
  line-height: 20px;
}

#version {
  margin-top: 57px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #8d8d8d;
}

.desktopBottom {
  background-color: #464646;
  width: 100%;
  flex: 1;
  display: flex;
  padding: 67px 0px;
}

.desktopBottom > #left {
  flex: 1 1 30%;
}

.desktopBottom > #left > h1 {
  font-family: "Roboto Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin: 0px 57px;
  color: #d5d5d5;
}

.desktopBottom > #middle {
  flex: 1 1 40%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #8d8d8d;
}

.desktopBottom > #right {
  flex: 1 1 30%;
}

#ad {
  display: inline-block;
  margin-right: 10px;
}



.flex {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
.flex .text {
  margin: 0 0 0 20px;
  padding: 0;
  margin-right: auto;
}


.switch_outer {
  margin-left: auto;
  width: 50px;
  height: 25px;
  background-color: lightgray;
  border-radius: calc(infinity * 1px);
  position: relative;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

.toggle_switch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 5px;
  margin: auto;
  box-shadow: 1px 1px 7px #B7B7B7, -1px -1px 4px #CECECE inset;
  transition: left .15s ease-in-out;
}

.switch_outer.active {
  background-color: #51E373;
}

.toggle_switch.active {
  left: 25px;
}